
*{
    font-size: 20px;
    margin: 0px;
}
.componentDiv
{
    border:2px solid red;
    background-color: white;
    padding: 5px;
    /* height: 50px; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.outer
{
    border:2px solid red;
}
.header{
    background-color: white;
    color: red;
}
.row
{
    display: flex;
}
.div2 .componentDiv{
    height: 200px;
} 